include README.md
include CHANGELOG.md
include CONTRIBUTING.md
include SECURITY.md
include LICENSE
include preamble.txt
include pyproject.toml
recursive-include ctxclipper *.py py.typed
recursive-include tests *.py
